<h2>
    <span ng-if="hashtagGroup.id">C'mon, edit this hashtag group!</span>
    <span ng-if="!hashtagGroup.id">C'mon, add some new hashtag group!</span>
</h2>
<form ng-submit="onHashtagGroupFormSubmit()" name="hashtagGroupForm" novalidate>
  <div>
      <label for="hashtag-group-name">Name</label>
  </div>
  <div>
      <input type="text" id="hashtag-group-name" name="hashtagGroupName" ng-model="hashtagGroup.name" required>
  </div>
  <div>
      <label for="hashtag-group-list">Hashtags</label>
  </div>
  <div>
      <textarea type="text" id="hashtag-group-list" name="hashtagGroupList" ng-model="hashtagGroup.hashtags" required></textarea>
  </div>
  <div>
      <a href="#/hashtag-groups">Cancel</a>
      <button type="submit">
        <span ng-if="hashtagGroup.id">Save</span>
        <span ng-if="!hashtagGroup.id">Add</span>
      </button>
  </div>
</form>