<h2>
    C'mon, edit this hashtag group!
</h2>
<form ng-submit="saveHashtagGroup()" name="editHashtagGroupForm" novalidate>
  <div>
      <label for="hashtag-group-name">Name</label>
  </div>
  <div>
      <input type="text" id="hashtag-group-name" name="hashtagGroupName" ng-model="hashtagGroup.name" required>
  </div>
  <div>
      <label for="hashtag-group-list">Hashtags</label>
  </div>
  <div>
      <textarea type="text" id="hashtag-group-list" name="hashtagGroupList" ng-model="hashtagGroup.hashtags" required></textarea>
  </div>
  <div>
      <a href="#/hashtag-groups">Cancel</a>
      <button type="submit">Save</button>
  </div>
</form>