<ion-view view-title="Registration">
  <ion-content>
    <form ng-submit="vm.onRegistrationFormSubmit()" name="vm.registrationForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <input type="email" name="userEmail" ng-model="vm.userEmail" placeholder="Email" required/>
        </label>
        <label class="item item-input">
          <input type="password" name="userPassword" ng-model="vm.userPassword" placeholder="Password" required/>
        </label>
        <label class="item item-input">
          <input type="password" name="userPasswordConfirm" ng-model="vm.userPasswordConfirm" placeholder="Confirm password" required/>
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-royal button-outline button-block">Sign up</button>
      </div>
    </form>
  </ion-content>
</ion-view>
