<ion-view view-title="Instanila" cache-view="false" hide-back-button="true">
  <ion-content>
    <form ng-submit="vm.onLoginFormSubmit()" name="vm.loginForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <input type="email" name="userEmail" ng-model="vm.userEmail" placeholder="Email" required/>
        </label>
        <label class="item item-input">
          <input type="password" name="userPassword" ng-model="vm.userPassword" placeholder="Password" required/>
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-calm button-block">Login</button>
        <div class="separator">or</div>
        <a ui-sref="registration" class="button button-royal button-outline button-block">Sign up</a>
      </div>
    </form>
  </ion-content>
</ion-view>
