<ion-view view-title="Instanila">
  <ion-content>
    <ul class="list">
      <li ng-repeat="hashtagGroup in vm.hashtagGroups" class="item item-button-right" ng-click="vm.edit(hashtagGroup)">
        {{hashtagGroup.name}}
        <button type="button" class="button button-royal button-outline" ng-click="vm.copy($event, hashtagGroup.hashtags)">
          <i class="icon ion-ios-copy-outline"></i>
        </button>
      </li>
    </ul>
    <div class="padding">
      <a ui-sref="hashtag-groups-new" class="button button-block button-royal button-outline">Add new</a>
    </div>
  </ion-content>
</ion-view>
