<ion-view view-title="Instanila">
  <ion-content>
    <ul class="list">
      <li ng-repeat="hashtagGroup in vm.hashtagGroups" class="item item-button-right" ng-click="vm.edit(hashtagGroup)">
        {{hashtagGroup.name}}
        <button type="button" class="button button-royal button-outline button-large" ng-click="vm.copy($event, hashtagGroup.hashtags)">
          <i class="icon ion-ios-copy-outline"></i>
        </button>
      </li>
    </ul>

    <div class="padding notice" ng-if="vm.loading">
      <i class="icon ion-load-c"></i> Loading...
    </div>

    <div class="padding notice" ng-if="!vm.loading && !vm.hashtagGroups.length">
      You haven't added any hashtag groups yet.<br>
      Let's do it now :)
    </div>
    <div class="padding">
      <a ui-sref="hashtag-groups-new" class="button button-block button-royal button-outline">Add new</a>
    </div>
  </ion-content>
</ion-view>
